@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="./css/bootstrap/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="./css/bootstrap/navbars-offcanvas.css" rel="stylesheet" asp-append-version="true" />
    <link href="./css/bootstrap/features.css" rel="stylesheet" asp-append-version="true" />
    <link href="./css/bootstrap/grid.css" rel="stylesheet" asp-append-version="true" />
    <link href="./css/bootstrap/sign-in.css" rel="stylesheet" asp-append-version="true" />
    <link href="./css/bootstrap/modals.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <main>
        <div class="container px-4 py-4" id="home">
            <div class="d-flex flex-wrap justify-content-between p-5 rounded">
                <div class="card m-3" style="width: 18rem;">
                    <img src="./img/jupiter1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                            <a href="../album_carousel.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>